main{
    background-color: #C0F7E8;
}
main>.postarea{
    width: 1280px;
    display: flex;
    justify-content: space-between;
}
main .columnPost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
}
main h1{
    width: 695px;
    margin-bottom: 40px;
    margin-left: 0;
}
main p{
    width: 420px;
    margin-bottom: 40px;
    margin-left: 0;
}
main .download{
    margin-left: 0;
}
main img{
    height: 766px;
    margin-right: 0;
}