/*general style start*/
*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body{
    margin: 0 auto;

    font-family: Pretendard-Regular;
    font-size: 16px;
    line-height: 20px;
}
img{
    vertical-align: bottom;
}
h1{
    font-size: 48px;
    line-height: 60px;
}
h2{
    font-size: 36px;
    line-height: 45px;
}
h3{
    font-size: 24px;
    line-height: 30px;
}
.postarea{
    width: 1280px;
}
/*general style end*/

/*header style start*/
header{
    background-color: #F2E9D8;
}
header>.postarea{
    display: flex;
    justify-content: space-between;
    height: 102px;
}
.headerLogo{
    width: 130px;
    height: 40px;
    margin-top: 31px;
}
.headerMenu{
    margin-top: 26px;
}
.headerMenu>a{
    margin-right: 30px;
    color: #000000;
    text-decoration-line: none;
}
.headerMenu>button{
    margin-left: 19px;
}
.download{
    width: 140px;
    height: 50px;
    border: none;
    border-radius: 40px;
    background-color: #D97652;
    font-size: 16px;
    color: #FFFFFF;
}
/*header style end*/

/*main style start*/
main{
    background-color: #F2E9D8;
}
main>.postarea{
    width: 1280px;
    display: flex;
    justify-content: space-between;
}
main .columnPost{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main h1{
    width: 695px;
    margin-bottom: 40px;
}
main p{
    width: 420px;
    margin-bottom: 40px;
}
/*main style end*/

/*middle style start*/
#middle{
    margin-top: 80px;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}
#middle .columnPost{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#middle img{
    width: 660px;
    height: 390px;
    border:none;
    border-radius: 30px;
}
#middle h2{
    width: 510px;
    margin-bottom: 30px;
}
#middle p{
    width: 510px;
}
/*middle style end*/

/*galleryInfo style start*/
#galleryInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#galleryInfo>h1{
    width: 875px;
    margin-bottom: 40px;
    color: #D97652;
}
#galleryInfo>p{
    width: 710px;
    margin-bottom: 88px;
}
/*galleryInfo style end*/

/*gallery style start*/
#gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 1px;
    padding-right: 1px;
}
#gallery>img{
    width: 378px;
    height: 378px;
    margin-bottom: 72px;
}
/*gallery style end*/

/*galleryLoad style start*/
#galleryLoad{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.showmore{
    width: 143px;
    height: 50px;
    border: none;
    border-radius: 40px;
    background-color: #D97652;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 28px;
    margin-bottom: 80px;
}
/*galleryLoad style end*/

/*address style start*/
#address{
    margin-top: 68px;
}
#address>p{
    margin-top: 20px;
    margin-bottom: 48px;
    color: #606367;
}
#map{
    width: 1278px;
    height: 520px;
    border-radius: 12px;
}
/*address style end*/

/*subscribe style start*/
#subscribe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 200px;
    border-radius: 30px;
    background-color: #263140;
    color: #FFFFFF;
    padding-left: 58px;
    padding-right: 58px;
    margin-top: 80px;
}
#subscribe h2{
    width: 448px;
    margin-bottom: 18px;
}
#subscribe p{
    width: 471px;
}
#subscribe form{
    display: flex;
    justify-content: space-between;
    width: 530px;
    height: 60px;
    border-radius: 60px;
    background-color: #fff;
}
#subscribe img{
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 28px;
    margin-right: 16px;
}
#emailInput{
    width: 300px;
    height: 60px;
    border:none;
    font-size: 16px;
    line-height: 20px;
}
.formButton{
    width: 135px;
    height: 50px;
    border: none;
    border-radius: 40px;
    background-color: #D97652;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 6px;
}
/*subscribe style end*/

/*footer style start*/
#footerImage{
    position: relative;
    top: -100px;
    z-index: -10;
}
footer{
    width: 1280px;
    height: 160px;
    position: relative;
    top: -100px;
    display: flex;
    justify-content: space-between;
}
.footerLogo{
    width: 226px;
    height: 70px;
    margin-top: 45px;
}
.icon{
    width: 42px;
    height: 42px;
    margin-top: 58px;
    margin-left: 20px;
}
/*footer style end*/

/*scroll-top-btn style start*/
.scroll-top-btn{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    z-index: 10;
}
.topButton{
    position: absolute;
    top: 0px;
    left: 0px;
}
.scroll-top-btn:hover .topButton{
    display: none;
}
/*scroll-top-btn style end*/
